.video-detail {
  position: relative; }

.video-detail .responsive-video {
  width: 100%; }

.rating {
  overflow: hidden;
  display: table;
  cursor: pointer;
  direction: rtl; }

.rating span {
  position: absolute;
  right: 10px;
  font-weight: bold; }

.rating .star {
  margin: 0 3px; }

.rating .star-wrapper {
  display: inline-block; }

.rating > .star-wrapper:hover .star,
.rating > .star-wrapper:hover ~ .star-wrapper {
  color: yellow; }
