.video-detail {

}

.video-detail .video-detail-player {
  position: relative;
}

.video-detail .video-detail-related {
  height: 90vh;
  overflow-y: auto;
}

.video-detail .responsive-video {
  width: 100%; }

.rating {   
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating p {   
  font-weight: bold;  
}

.fa-star {
  color: #ffc107;
}




